{{define "subject"}}Welcome to Wanton!{{end}}

{{define "plainBody"}}
Hi, {{.firstName}} {{.lastName}}

Thanks for signing up for a Wanton account. We're excited to have you on board!

To activate your Wanton account please visit https://wanton.app/user/activate and enter the following code:

--------------------------
{{.activationToken}}
--------------------------

Or click the following link:

https://wanton.app/user/activate?token={{.activationToken}}


Please note that this is a one-time use token and it will expire in 3 days.

Thanks,

The Wanton Team
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Hi, {{.firstName}} {{.lastName}}</p>
    <p>Thanks for signing up for a Wanton account. We're excited to have you on board!</p>
    <p>To activate your Wanton account please visit <a href="https://wanton.app/user/activate">Us</a> and enter the following code:</p>
    <pre>
        <code>{{.activationToken}}</code>
    </pre>
    <p>Or click the following link</p>
    <a href="https://wanton.app/user/activate?token={{.activationToken}}">Activate your account</a>
    <p>Please note that this is a one-time use token and it will expire in 3 days.</p>
    <p>Thanks,</p>
    <p>The Wanton Team</p>
</body>
</html>
{{end}}